$title-color: rgba(23,112,0,1);
$primary-text: #ffffff;
$title-height: 75px;
$main-background: #c7bbbb;

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

#container {
  background-color: #ffffff;
  margin: 0 0;
}

#title-bar {
  background-color: $title-color;
  height: $title-height;
  margin: 0 0;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: $primary-text;
  display: inline;
  line-height: $title-height;
  vertical-align: middle;
  padding-left: 37px;
  text-shadow: #000 2px 1px;
}

#title-bar ul {
  margin: 0 0;
  list-style: none;
  float: right;
}

#title-bar ul li {
  margin: 0 auto;
  display: inline;
  padding-right: 20px;
  line-height: $title-height;
  vertical-align: middle;
}

#title-bar ul li a {
  color: $primary-text;
  font-weight: bold;
  text-decoration: none;
}

#title-bar ul li a:hover {
  color: #000;
}

#banner {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.welcome {
  font-family: 'Dosis', sans-serif;
}

#main-section {
  width: 75%;
  margin: 50px auto;
}

#now-playing {
  visibility: hidden;
}

#audio-controls ul {
  list-style: none;
}

#audio-controls ul li {
  display: inline;
}

#song-list {
  margin: 25px auto;
}

#song-list ul {
  list-style: none;
}

#song-list a {
  text-decoration: none;
  color: #000;
}

#song-list a:visited {
  text-decoration: none;
  color: #000;
}
