html, body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif; }

#container {
  background-color: #ffffff;
  margin: 0 0; }

#title-bar {
  background-color: #177000;
  height: 75px;
  margin: 0 0; }

.logo {
  font-family: "Indie Flower", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  display: inline;
  line-height: 75px;
  vertical-align: middle;
  padding-left: 37px;
  text-shadow: #000 2px 1px; }

#title-bar ul {
  margin: 0 0;
  list-style: none;
  float: right; }

#title-bar ul li {
  margin: 0 auto;
  display: inline;
  padding-right: 20px;
  line-height: 75px;
  vertical-align: middle; }

#title-bar ul li a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none; }

#title-bar ul li a:hover {
  color: #000; }

#banner {
  width: 50%;
  margin: 0 auto;
  text-align: center; }

.welcome {
  font-family: "Indie Flower", sans-serif; }

#main-section {
  width: 75%;
  margin: 50px auto; }

#upload ul {
  list-style: none; }

#upload li {
  padding: 10px; }

#upload label {
  width: 100px; }

#upload input[type=text] {
  width: 200px;
  height: 20px;
  margin: 5px 100px;
  transition: padding 0.25s; }

#upload input[type=text]:focus {
  padding-right: 70px; }

#upload select {
  background-color: #177000;
  color: #ffffff;
  width: 200px;
  height: 20px;
  margin: 5px 100px;
  border: 1px solid #177000;
  border-radius: 3px; }

#upload input[type=button], input[type=submit] {
  background-color: #177000;
  color: #ffffff;
  padding: 5px 20px;
  border: 1px solid #177000;
  border-radius: 3px; }

#upload input[type=submit] {
  float: right; }

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px 20px;
  display: inline-block;
  background-color: rgba(24, 112, 0, 0.59);
  color: #ffffff;
  border-radius: 3px;
  width: 80px;
  text-align: center; }

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0); }

#now-playing {
  visibility: hidden; }

#audio-controls ul {
  list-style: none; }

#audio-controls ul li {
  display: inline; }

#song-list {
  margin: 25px auto; }

#song-list ul {
  list-style: none; }

#song-list a {
  text-decoration: none;
  color: #000; }

#song-list a:visited {
  text-decoration: none;
  color: #000; }
