html, body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif; }

#container {
  background-color: #ffffff;
  margin: 0 0; }

#title-bar {
  background-color: #177000;
  height: 75px;
  margin: 0 0; }

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  display: inline;
  line-height: 75px;
  vertical-align: middle;
  padding-left: 37px;
  text-shadow: #000 2px 1px; }

#title-bar ul {
  margin: 0 0;
  list-style: none;
  float: right; }

#title-bar ul li {
  margin: 0 auto;
  display: inline;
  padding-right: 20px;
  line-height: 75px;
  vertical-align: middle; }

#title-bar ul li a {
  color: white;
  font-weight: bold;
  text-decoration: none; }

#title-bar ul li a:hover {
  color: #000; }

#banner {
  width: 50%;
  margin: 50px auto;
  text-align: center; }

.welcome {
  font-family: 'Dosis', sans-serif;
  margin: 25px auto; }
